body {
    background-color: rgb(180, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

button {
    font-size: 24px;
    margin-top: 20px;
    
}
